.table_image {
    height: 75px;
    width: 75px;
}
/* .flex-container{
    
} */
.search_bar{
    align-items: right;
    background-color: gray;
    
}
.table_image{
    border-image: 20px;
    border-color: royalblue;
    align-items:flex-start;
}